body{
  background-image: url(../../../diseño/imagenes/fondo2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
*{
  padding: 0px;
  margin: 0px;
}
.contenedor{
  padding: 0 10% 0 10%;
  text-align: center;
}
#boton{
  text-align: center;
}
#botonn{
  padding: 1% 8% 1% 8%;
}
.text-white{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 5%;
}.form-control{
  padding: 10% 10% 10% 10%;
}
